body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #202225;
}

.dark-mode {
  background-color: rgba(28, 28, 28);
}

.root.dark-mode {
  background-color: rgba(40, 40, 40);
}

.root {
  position: relative;
  width: 70%;
  min-height: 80vh;
  margin: auto;
  background-color: #2f3136;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dots {
  margin: 10px;
  flex-shrink: 0;
}
.dots div {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.dots div:nth-child(1) {
  background-color: #fc5753;
}

.dots div:nth-child(2) {
  background-color: #fdbc40;
}

.dots div:nth-child(3) {
  background-color: #36c84b;
}

.links {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.links > ol {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.links > ol > li {
  font-size: 20px;
  margin: 0 20px;
}

.links > ol > li > a {
  text-decoration: none;
  color: white;
  font-family: "IBM Plex Mono";
  font-weight: 600;
  font-style: normal;
}

.sideelement2 {
  position: absolute;
  top: 15%;
  right: 3%;
  min-width: 24px;
}

.sideelement2.dark-mode {
  background-color: rgba(40, 40, 40);
}

.sideelement2::after {
  content: "";
  display: block;
  width: 5px;
  height: 150px;
  background-color: #202225;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.sideelement2.dark-mode::after {
  background-color: rgba(28, 28, 28);
}

.sideelement2 > a {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  color: #ffffff80 !important;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
}

.sideelement1 {
  position: absolute;
  bottom: 15%;
  left: 3%;
}

.sideelement1.dark-mode {
  background-color: rgba(40, 40, 40);
}

.sideelement1 > ul {
  list-style: none;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  padding: 0;
}

.sideelement1 > ul > li {
  margin-top: 20px;
}

.sideelement1::after {
  content: "";
  display: block;
  width: 5px;
  height: 150px;
  background-color: #202225;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.sideelement1.dark-mode::after {
  background-color: rgba(28, 28, 28);
}
.content {
  width: calc(100% - 20%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin: 0 auto;
}
.mainContainer {
  position: relative;
  height: 100%;
  right: 5%;
  bottom: 0px;
}
h1 {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #ffffffcc;
  font-size: 24px;
  position: relative;
  margin: 0;
}

h2 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  color: #c1f1da;
  position: relative;
  margin: 0;
}

h3 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  position: relative;
  margin: 0;
  color: #ffffff99;
}

.mainContainer > div > p {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  position: relative;
  margin: 0;
  color: #ffffff66;
  white-space: pre-wrap;
}

.spotifyContainer {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}

.spotify {
  align-self: flex-start;
  margin: 0;
}
.spotifyP{
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 20px;
  position: relative;
  margin: 0;
  left: 3%;

}
.spotifyA {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 18px;
  position: relative;
  margin: 0;
  left: 3%;
}

.spotifyImg {
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.spotifywrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin: 0;
  position: relative;
  top: 10vh;
}

.notActive{
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 20px;
  position: relative;
  margin: 0;
  left: 3%;
}
.theme-toggle button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: inherit; /* Adjust based on your theme */
  transition: transform 0.3s ease;
}

.theme-toggle button:hover {
  transform: scale(1.1); /* Example hover effect */
}

@media (max-width: 1024px) {
  .root {
    width: 90%; /* Increase width for smaller screens */
    padding: 10px; /* Adjust padding */
    border-radius: 20px; /* Optional: Adjust border-radius */
  }

  .content{
    min-height: 65vh; /* Adjust height for smaller screens */
  }

  .links > ol > li, .mainContainer > div > p {
    font-size: 16px; /* Adjust font sizes for readability */
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 20px;
  }

  .links {
    width: 70%; /* Adjust navigation links area */
    flex-direction: column; /* Stack links vertically */
    align-items: center; /* Center-align items */
  }

  .links > ol > li {
    margin: 10px 5px;
  }

  .content, .spotifywrapper {
    flex-direction: column; /* Adjust layout direction */
  }

  .sideelement1, .sideelement2 {
    display: none; /* Optionally hide elements that might clutter small screens */
  }
  .theme-toggle button{
    display: none;
  }
  .dots div {
    width: 16px;
    height: 16px;
  }
  .spotifyImg {
    width: 100px;
    height: 100px;
  }
  .spotifyP{
    font-size: 16px;
  }
  .spotifyA{
    font-size: 14px;
  }
  .notActive{
    font-size: 16px;
  }
}